* {
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

#font {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    color: white;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Roboto Slab", sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin-top: 15px;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 5px;
}

#search-btn {
    background-color: orange;
    margin-right: 20px;
}

#trending-btn {
    background-color: plum;
}

img {
    border: solid black 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}

.load-more {
    padding: 20px;
}

.hidden {
    display: none;
}

#load-more-btn {
    background-color: red;
    color: white;
    align-self: center;
}


/* :hover items */

.alt-wrap p.alt {
    position: absolute;
    opacity: 0;
    /* hide initially */
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    line-height: 22px;
    background-color: grey;
    transition: all 300ms ease;
    transition-delay: 300ms;
}

.alt-wrap:hover > p.alt {
    opacity: .9;
    transition-delay: 0s;
}